<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>
          <div class="question-div col-sm-9">
             <div class="question"> <b>{{counter+1}}.</b>{{qstn}}</div>
         </div>
          <img src="data/demo.png" class="image img-responsive col-sm-3">
      </h3>
            <ul class="list-group">
                <div ng-repeat="option in optionsArr" class="options">
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-disabled="checkboxDisabledOnSubmit" ng-change="shouldBeDisabled(option)" ng-model="option.checked">{{option.value}}
                            </label>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default" ng-click="checkboxDisabled()" ng-disabled="isDisabledSubmit">Submit</button>
            <div class="btn-group">
                <button type="button" ng-click="prevQuestions()" ng-disabled="isDisabledPrev" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span></button>
                <button type="button" ng-disabled="true" class="btn btn-default"><strong>{{counter+1}}</strong></button>
                <button type="button" ng-click="nextQuestions()" ng-disabled="isDisabledNext" class="btn btn-default"><span class="glyphicon glyphicon-forward"></span></button>
            </div>
            <md-button class="md-raised md-primary result-btn" flex="100" flex-gt-md="auto" ng-click="showConfirm($event)" ng-disabled="showResult">Show Result</md-button>
        </div>
    </div>
</div>